.page-footer {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-image {
    width: inherit;
    position: relative;
}

.footer-container {
    position: absolute;
    width: 90%;
}

.col {
    width: 33.3333%;
    float: left;
}

.col h3 {
    color: #A69667;
    font-size: 2em;
    margin: 0;
    text-align: left;
}

.col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.col a,p,em {
    color: #fff;
    text-decoration: none;
}