html { height: 100% }
body { background-color: #000000;height: 100%; margin: 0; padding: 0 }
body {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 10pt;
    background-color: #000000;
    /* background-image: url('backgrounds/band.gif'); */
    background-repeat: repeat;
    background-attachment: scroll;
    color:#000000;
}

div#load_screen{
	background: linear-gradient(#00008F,#00000F);
	opacity: 1;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
div#load_screen > div#loading{
	color:#FFF;
	width:120px;
	height:24px;
	margin: 300px auto;
}
#container {
    margin: 0;
    padding: 0;
    border: 0;
}

#masthead { position:relative; background:rgba(255,0,0,0.0); z-index: 1;
		}

#masthead h1 {
    color: #FFFFFF;text-align: center; margin-top:0px; margin-bottom:0px; padding-top:15px;
}

#masthead h2 {
      font: italic 24px "times new roman"; text-align: center; color: #FFFFFF; margin-top:0px; margin-bottom:15px; padding-top:5px;
}

#masthead h3 {
    color: #d4c3a8;text-align: center;
}

#schoolLogo {position: absolute; left:0px; top:0px; z-index:2}

#navtabs {
margin: 0;
 padding-bottom:10px;
 padding-top: 10px;
 margin-left:auto;
 margin-right:auto;
 position:relative;
 text-align:center;
 /*display: inline-block;*/
 background:rgba(255,255,255,0.2);
 width:75%;
 border-radius: 80px 80px 80px 80px;
 }	
#navtabs li {
 display:inline; height:50px;
 }
 #navtabs li a {
 text-decoration: none;
 /*padding: 0.05em 0.05em;*/
 } 
 #navtabs a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.navigate
{
    font:  bold italic 14px sans-serif;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 0px solid #0066CC;
    border-bottom-color:#0066CC;
    color: #FFFFFF;
    background: linear-gradient(#0000AF,#00003F);
    border-radius: 20px 0px 20px 0;
    outline:none;
}
        
.navigate:hover
{
    background:linear-gradient(#0000AF,#FFFFFF);
    color: #222222;
}
#picker { border: 2px solid;border-color:#008B00; border-radius: 10px; position: relative;
	top:85px; width:300px;color:#33CC33;padding-left: 25px;}

#selectorPanel { border: 2px solid;border-radius: 25px;border-color:#008B00;position: absolute; left:0px; background:#E0F0FF;
	top:170px; width:250px;padding-left: 10px; padding-right: 10px; padding-bottom: 10px; float:right; font-size: 9pt;}

#frame { position: relative; top: 170px; left:300px }

#backImg { position: relative; top: 300px;}

#helpFrame {border: 2px solid;border-radius: 25px;border-color:#008B00;position: absolute; right:0px;
	top:200px; width:350px;color:#ffffff;padding-left: 25px; padding-right: 25px; float:right; font-size: 9pt; }

#txt { position:absolute; top:150px;border: 2px solid;border-radius: 25px;border-color:#008B00; background: rgba(224,240,255,0.85);
    margin-right: 100px; margin-left: 50px; padding-left: 1cm; padding-right: 1cm;}

DIV.slider { border: 2px solid;border-color:#008B00; border-radius: 10px; padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px; position: absolute; left: 690px; top:173px}

DIV.loop   { border: 2px solid;border-color:#008B00; border-radius: 10px; padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 5px; position: absolute; left: 420px; top:173px}

 	/* Optional styles */
		
		.sidecontentpullout {
			font-family: Arial, Helvetica, sans-serif;
			font-style: oblique;
			font-weight: 900;
			background-color: Yellow;
			color: black;
			padding: 5px 10px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
		}
		
		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}
		
		.sidecontent {
			background-color: Black;
			color: White;
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
		}
		
		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
	
#tabs {
 margin: 0;
 padding: 0;
 position:absolute;
 }	
#tabs li {
 display:inline; width:192px; height:50px;
 }
 #tabs li a {
 text-decoration: none;
 padding: 0.05em 0.05em;
 } 
 
p.shdg {
	font-size:10px;
	 display: inline
}
p.sshdg {
	font-size:8px;
	 display: inline
}
#columns { text-align:center;}
#columns .left_col {
        float: left;
    }

    #columns .right_col {
        float: right;
        margin-bottom:10px;
    }

