html { height: 100% }
body { background-color: #000000;height: 100%; margin: 0; padding: 0 }      
.map { height: 100%; width: 100%; }
#txt1{
	padding-top:20px;
}
img {
    transition: -webkit-transform 0.25s ease;
}

img:active {
    -webkit-transform: scale(2);
}