html { height: 100% }
body { background-color: #000000;height: 100%; margin: 0; padding: 0 }      
.map { height: 100%; width: 100%; }

#map-canvas { height: 96% }
#infrastructure {
	background-color: #000000; 
	position: absolute; 
	top: 40px; 
	right: 0px;
	font-family: 'arial', 'sans-serif'; 
	font-size: 14px;
	color:#ffffff;
	border: 1px solid gray;
	padding: 5px 10px;
	z-index: 1000;
}
#forecast {
	background-color: #000000; 
	position: absolute; 
	top: 40px; 
	left: 0px;
	font-family: 'arial', 'sans-serif'; 
	font-size: 14px;
	color:#ffffff;
	border: 1px solid gray;
	padding: 5px 10px;
	z-index: 1000;
}
#mapSettings {
	background-color: #000000; 
	position: absolute; 
	bottom: 0px; 
	right: 0px;
	font-family: 'arial', 'sans-serif'; 
	font-size: 14px;
	color:#ffffff;
	border: 1px solid gray;
	padding: 5px 10px;
	z-index: 1000;
}
#radar {
	background-color: #000000; 
	position: absolute; 
	top: 40px; 
	right: 140px;
	font-family: 'arial', 'sans-serif'; 
	font-size: 14px;
	color:#ffffff;
	border: 1px solid gray;
	padding: 5px 10px;
	z-index: 1000;
}