body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}
h4 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.blueButton {
	font:  bold italic 14px sans-serif;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 0px solid #0066CC;
    border-bottom-color:#0066CC;
    color: #FFFFFF;
    background: linear-gradient(#0000AF,#00003F);
    border-radius: 20px 0px 20px 0;
    outline:none;
    margin-top:5px;
    width:100%;
}
.blueButton:hover {
	background:linear-gradient(#0000AF,#FFFFFF);
    color: #222222;
}

#ControlPanel {
	float: left;
	width: 10%;
	height: 100vh;
	background-color:grey;
}

#Content {
	float: right;
	width: 90%;
	background-color:white;
}
