/* WEATHER.UNCC.EDU MAIN.CSS STYLE SHEET
 * AUTHOR: WARREN PETTEE (@wpettee)
 * DATE : DEC-2016
 */
/* LOADING SCREEN ------------------------------------------------------------------------------------- */
div#load_screen{
	background: linear-gradient(#00008F,#00000F);
	opacity: 1;
	position: fixed;
	z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}

div#load_screen > div#loading{
	color:#fff;
	width:120px;
	height:24px;
	margin: 300px auto;
}
/* HEADER STYLE ------------------------------------------------------------------------------------- */
#masthead { position:relative; background:rgba(0,112,60,100.0); z-index: 1;
	box-shadow: 0px 0px 30px 1px rgba(64, 101, 144, 0.83);
	padding-bottom:10px; padding-top:5px; margin-bottom:0px;
}

#masthead h1 {
	font-size: 24px; color: #FFFFFF;text-align: center; margin-top:0px; margin-bottom:0px;
}

#masthead h2 {
	font: italic 18px "times new roman"; text-align: center; color: #FFFFFF; margin-top:0px; margin-bottom:0px; padding-top:0px;
}

#masthead h3 {
	color: #d4c3a8;text-align: center;
}

#schoolLogo {
	position: absolute; left:0px; top:-12px; z-index:2
}

body{
	background:#c2cbec;
}
#siteMenu {
	background-color: #00629c;
	padding:16px;
	margin-bottom:15px;
	text-align:center;
}
#siteMenu a{
	text-decoration: none;
}
/* Everything to handle the neat "dynamic menu" */
.dropbtn {
	background-color: #00629c;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:12px;
	width:140px;
}
.dropbtn:hover {
	background-color: #73a2de;
}

#chartContainer {
	float:right;	
}
#obsBlock {
	float:left;
	border-radius: 25px;
    border: 2px solid #0074a7;
    padding: 20px; 
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
	 
    padding:0.5em;
	background: #89aae4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#89aae4, #c2ead8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#89aae4, #c2ead8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#89aae4, #c2ead8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#89aae4, #c2ead8); /* Standard syntax */
}
#obsBlock table{
	border-collapse: collapse;
	color:#d41313;
	font-size:13px;
	font-family:sans-serif;
	font-weight:bold;
}
#obsBlock table, th, td{
	border: 2px solid black;
}
#obsBlock tr{
	text-align:left;
}
#chartContainer{
	background:#ffffff;
	border-radius: 25px;
    border: 2px solid #0074a7;
    padding: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#picker {
	float:left;
	font-family:sans-serif;
	font-size:12px;
}
#picker input,submit{
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	color:white;
	background: #3466bf;
}

#chartObject{
	float:right;
}